.home-container {
    width: 100vw;
    height: 100vw;
}

.home-content {
    padding-left: 120px;
    padding-top: 179;
}
.text-title {
    font-size: 48px; 
    font-style: normal;
    font-weight: 700;
    color: #062847;
    padding-top: 117px;
    
}

.text-subtitle {      
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    margin-top: 24px;
    padding-bottom: 15px;
    color: #5A6774;
    
}